[submodule "external/nanogui"]
	path = external/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "external/pcg32"]
	path = external/pcg32
	url = https://github.com/wjakob/pcg32
[submodule "external/dset"]
	path = external/dset
	url = https://github.com/wjakob/dset
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/wjakob/tbb
[submodule "external/pss"]
	path = external/pss
	url = https://github.com/wjakob/pss